.tree-icon {
  margin: 0;
  padding: 5px;
}
.tree-icon li {
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
}
.tree-icon li .draggable {
  color: #333;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.tree-icon li.drag-over > .draggable {
  background-color: #316ac5;
  color: white;
  border: 1px #316ac5 solid;
  opacity: 0.8;
}
.tree-icon li.drag-over-gap-top > .draggable {
  border-top: 2px blue solid;
}
.tree-icon li.drag-over-gap-bottom > .draggable {
  border-bottom: 2px blue solid;
}
.tree-icon li.filter-node > .tree-icon-node-content-wrapper {
  color: #a60000!important;
  font-weight: bold!important;
}
.tree-icon li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.tree-icon li .tree-icon-node-content-wrapper {
  display: inline-block;
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 20px;
  text-decoration: none;
  vertical-align: top;
}
.tree-icon li span.tree-icon-switcher,
.tree-icon li span.tree-icon-checkbox,
.tree-icon li span.tree-icon-iconEle {
  line-height: 16px;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.tree-icon li span.tree-icon-switcher.tree-icon-icon__customize,
.tree-icon li span.tree-icon-checkbox.tree-icon-icon__customize,
.tree-icon li span.tree-icon-iconEle.tree-icon-icon__customize {
  background-image: none;
}
.tree-icon li span.tree-icon-icon_loading {
  margin-right: 2px;
  vertical-align: top;
  background: url('data:image/gif;base64,R0lGODlhEAAQAKIGAMLY8YSx5HOm4Mjc88/g9Ofw+v///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAGACwAAAAAEAAQAAADMGi6RbUwGjKIXCAA016PgRBElAVlG/RdLOO0X9nK61W39qvqiwz5Ls/rRqrggsdkAgAh+QQFCgAGACwCAAAABwAFAAADD2hqELAmiFBIYY4MAutdCQAh+QQFCgAGACwGAAAABwAFAAADD1hU1kaDOKMYCGAGEeYFCQAh+QQFCgAGACwKAAIABQAHAAADEFhUZjSkKdZqBQG0IELDQAIAIfkEBQoABgAsCgAGAAUABwAAAxBoVlRKgyjmlAIBqCDCzUoCACH5BAUKAAYALAYACgAHAAUAAAMPaGpFtYYMAgJgLogA610JACH5BAUKAAYALAIACgAHAAUAAAMPCAHWFiI4o1ghZZJB5i0JACH5BAUKAAYALAAABgAFAAcAAAMQCAFmIaEp1motpDQySMNFAgA7') no-repeat scroll 0 0 transparent;
}
.tree-icon li span.tree-icon-switcher.tree-icon-switcher-noop {
  cursor: auto;
}
.tree-icon li span.tree-icon-switcher.tree-icon-switcher_open {
  background-position: -93px -56px;
}
.tree-icon li span.tree-icon-switcher.tree-icon-switcher_close {
  background-position: -75px -56px;
}
.tree-icon li span.tree-icon-checkbox {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  background-position: 0 0;
}
.tree-icon li span.tree-icon-checkbox-checked {
  background-position: -14px 0;
}
.tree-icon li span.tree-icon-checkbox-indeterminate {
  background-position: -14px -28px;
}
.tree-icon li span.tree-icon-checkbox-disabled {
  background-position: 0 -56px;
}
.tree-icon li span.tree-icon-checkbox.tree-icon-checkbox-checked.tree-icon-checkbox-disabled {
  background-position: -14px -56px;
}
.tree-icon li span.tree-icon-checkbox.tree-icon-checkbox-indeterminate.tree-icon-checkbox-disabled {
  position: relative;
  background: #ccc;
  border-radius: 3px;
}
.tree-icon li span.tree-icon-checkbox.tree-icon-checkbox-indeterminate.tree-icon-checkbox-disabled::after {
  content: ' ';
  -webkit-transform: scale(1);
  transform: scale(1);
  position: absolute;
  left: 3px;
  top: 5px;
  width: 5px;
  height: 0;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
}
.tree-icon:not(.tree-icon-show-line) .tree-icon-switcher-noop {
  background: none;
}
.tree-icon.tree-icon-show-line li:not(:last-child) > ul {
  background: url('data:image/gif;base64,R0lGODlhCQACAIAAAMzMzP///yH5BAEAAAEALAAAAAAJAAIAAAIEjI9pUAA7') 0 0 repeat-y;
}
.tree-icon.tree-icon-show-line li:not(:last-child) > .tree-icon-switcher-noop {
  background-position: -56px -18px;
}
.tree-icon.tree-icon-show-line li:last-child > .tree-icon-switcher-noop {
  background-position: -56px -36px;
}
.tree-icon-child-tree {
  display: none;
}
.tree-icon-child-tree-open {
  display: block;
}
.tree-icon-treenode-disabled > span:not(.tree-icon-switcher),
.tree-icon-treenode-disabled > a,
.tree-icon-treenode-disabled > a span {
  color: #767676;
  cursor: not-allowed;
}
.tree-icon-node-selected {
  background-color: #ffe6b0;
  border: 1px #ffb951 solid;
  opacity: 0.8;
}
.tree-icon-icon__open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
}
.tree-icon-icon__close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
}
.tree-icon-icon__docu {
  margin-right: 2px;
  background-position: -110px -32px;
  vertical-align: top;
}
.tree-icon-icon__customize {
  margin-right: 2px;
  vertical-align: top;
}

.tree-icon-title {
    margin-left: 10px;
    font-size: 110%;
}
